@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700&display=swap');
// === Mixin ===
@mixin opensans {
    font-family: 'Open Sans', sans-serif;
}

@mixin bebas {
    font-family: 'Bebas Neue', sans-serif;
}
// === / Mixin ===

// === Variables ===
$base: 4;

$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;

$fc-dark: #48555b;
$fc-light: #fff;
$color-blue: #00a4e5;
$color-border: #e6e6e6;
// === / Variables ===

// === COMMON ===
html {
    scroll-behavior: smooth;
}

body {
    @include opensans;

    color: $fc-dark;
}

.section__inner {
    max-width: 940px;
    margin: 0 auto;

    &_wide {
        max-width: 1440px;
    }
}

.underline {
    width: 50px;
    margin-top: 10px;
    border: 1px solid $color-blue;
}

.text {
    margin: 0;
    font-size: 13px;
    font-weight: $fw-regular;
    line-height: $base * 6px;
}

.btn {
    width: 150px;
    height: 40px;
    padding: 11px 29px;
    font-size: 13px;
    font-weight: $fw-bold;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: $color-blue;
    border: none;

    &:hover {
        background-color: lighten($color-blue, 10%);
    }
}
// === / COMMON ===

// === HEADER ===
.section__header {
    padding-top: $base * 10px;
    padding-bottom: $base * 18px;
    color: $fc-light;
    text-align: center;
    background-image: url(../imgs/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header_title {
    margin: 0;
    margin-top: $base * 80px;
    font-size: $base * 15px;
    line-height: $base * 18px;
}

.header_text {
    font-size: $base * 4px;
}

.header_scroll {
    display: block;
    margin-top: $base * 55px;
    font-size: $base * 3px;
    color: $fc-light;
    text-decoration: none;
    cursor: pointer;
}
// === / HEADER ===

// === NAVBAR ===
.section__navbar {
    position: sticky;
    top: 0;
    padding-top: $base * 6px;
    padding-bottom: $base * 6px;
    background-color: #fff;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.navbar_list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar_item {
    & + & {
        margin-left: $base * 10px;
    }

    &__link {
        font-size: $base * 3px;
        font-weight: $fw-medium;
        color: $fc-dark;
        text-decoration: none;

        &:hover {
            color: $color-blue;
        }
    }
}
// === / NAVBAR ===

// === ABOUT ===
.section__about {
    padding-top: $base * 15px;
    padding-bottom: $base * 15px;

    .section__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.about__title {
    margin: 0;
    font-size: 18px;
    font-weight: $fw-bold;
}

.about__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: $base * 10px;

    &-text {
        max-width: $base * 100px;
    }
}

.about__images {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 140px * 3 + 40px;

    &-item {
        display: block;
        max-width: $base * 35px;
        max-height: $base * 56px;
    }
}

.about__subtitle {
    margin: 0;
    margin-bottom: 30px;
    font-size: $base * 5px;
    font-weight: $fw-bold;
    line-height: $base * 7px;
    letter-spacing: 0.1875px;

    span {
        color: $color-blue;
    }
}
// === / ABOUT ===

// === SERVICES ===
.section__services {
    padding-top: $base * 15px;
    padding-bottom: $base * 15px;
}

.services__capabilities {
    display: flex;
    justify-content: space-between;

    &-content {
        display: flex;
        justify-content: space-between;
        width: 590px;
    }
}

.services__title {
    margin: 0;
    font-size: 18px;
    font-weight: $fw-bold;
    line-height: $base * 6px;
}

.services__text {
    max-width: $base * 101px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
}

.services__container {
    display: flex;
    justify-content: space-between;
    margin-top: $base * 20px;
}

.service {
    box-sizing: border-box;
    max-width: $base * 74px;
    padding: 38px 23px;
    border: 1px solid #e6e6e6;
}

.service__title {
    margin-top: $base * 6px;
    margin-bottom: $base * 3px;
    font-size: $base * 4px;
    font-weight: $fw-bold;
    line-height: $base * 6px;
}
// === / SERVICES===

// === GET-IN-TOUCH ===
.section__get-in-touch {
    padding-top: $base * 30px;
    padding-bottom: $base * 58px;
    text-align: center;
    background-image: url(../imgs/city.png);
    background-repeat: no-repeat;
    background-position-y: 4px;
    background-size: cover;
}

.get-in-touch__title {
    max-width: $base * 88px;
    margin: 0 auto 35px;
    font-size: 30px;
    font-weight: $fw-bold;
    line-height: $base * 9px;
}
// === / GET-IN-TOUCH===

// === NEWSLETTER ===
.section__newsletter {
    padding-top: $base * 9px;
    padding-bottom: $base * 9px;
    color: $fc-light;
    background-color: #171819;
}

.newsletter {
    display: flex;
    justify-content: space-between;
    max-width: 685px;
    margin: 0 auto;
}

.newsletter__title {
    margin: 0;
    font-size: 22px;
    font-weight: $fw-bold;
    line-height: 30px;
    color: #fff;
}

.newsletter__form {
    display: flex;
}

.newsletter__input {
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    padding: 11px 16px;
    font-size: 14px;
    font-weight: $fw-regular;
    line-height: 19px;
    color: $fc-dark;
    border: none;
}
// === / NEWSLETTER===

// === FOOTER ===
.section__footer {
    padding-top: $base * 10px;
    color: $fc-light;
    background-color: #141a20;

    .section__inner {
        display: flex;
        justify-content: space-between;
    }
}

.footer__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 11px;
    font-weight: $fw-regular;
    line-height: 15px;
    color: #fff;
}

.company-info__text {
    max-width: 250px;
    margin: 15px 0 0 0;
    font-size: 11px;
    font-weight: $fw-regular;
    line-height: 19px;
    color: #fff;
}

.footer__links-container {
    display: flex;
    justify-content: space-between;
    max-width: 262px;
}

.links__stack {
    padding: 0;
    margin: 0;
    list-style: none;

    & + & {
        margin-left: $base * 9px;
    }
}

.link__item {
    font-size: 11px;
    font-weight: $fw-medium;
    line-height: 25px;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.contacts__text {
    max-width: 141px;
    margin: 0;
    font-size: 11px;
    font-weight: $fw-regular;
    line-height: $base * 4px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.8;

    & + & {
        margin-top: 10px;
    }
}

.footer__socials {
    display: flex;
    justify-content: space-between;
    width: 87px;
}

.footer__social {
    width: 12px;
    height: 12px;

    &_fb {
        background-image: url(../imgs/fb.svg);
    }

    &_tw {
        background-image: url(../imgs/twitter.svg);
    }

    &_gm {
        background-image: url(../imgs/google.svg);
    }
}

.footer__copyright {
    padding: 22px 0;
    font-size: 11px;
    font-weight: $fw-regular;
    line-height: 15px;
    text-align: center;
    background-color: #171819;
}
// === / FOOTER===
